node_modules
.next
dist
.vercel

# Logs
*.log
npm-debug.log*

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Tailwind
.next/cache

# VSCode
.vscode

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
